
body{
    background-image: url(https://wallpaperaccess.com/full/5651990.jpg);
    width: 100%;
    
    background-size: cover;
    background-position: center;
    position: relative;
    
}


*{
    padding: 0;
    margin: 0;
    color: white;
}
a{
    text-decoration: none;
}

.main{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    
}
.main #name:hover{
    font-size:25px;
    color: cadetblue;
    

}
.main ul li{
    display: inline-block;
    list-style-type: none;
    padding-right:20px;
    font-size: 16px;
    transition: .4s ease;
    
}
.main ul li a:hover{
    color: rgb(255, 0, 0);
    font-size: 20px;

}
.info{
    margin-top: 50px;
    margin-left: 5%;
    
}
.info span{
    color: orange;
}
.info h2{
    font-size: 16px;
    margin-bottom: 5px;
}
p{
    letter-spacing: 1px;
    font-family:'Courier New', Courier, monospace;
}
.info a{
     color: #fff;
     background-color: rgb(172, 82, 37);
     margin-top:26px;
     padding: 10px 18px;
     border-radius: 10px;
     display: inline-block;
     
}
.info a:hover{
    background-color: blue;}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin: 100px 0;
}
.image img{
 padding: 50% 25% 25% 0;
 border-radius: 10px;
 cursor: pointer;
}
.image img:hover{
    transform: rotateX(20deg);
}


.skill h1{
    text-align: center;
    border: 2px solid black;
    color: chocolate;
}
.skill h2{
    padding-left: 20px;
    margin-top: 20px;
    color: rgb(218, 24, 24);
    cursor: pointer;
    text-decoration: underline solid rgb(164, 23, 23);
}
.skill ul{
    padding-left: 50px ;
    list-style: none;
    cursor: pointer;
}
.skill ul li{
    color: mediumaquamarine;
    line-height: 35px;
    font-size: 18px;
}
.skill span{
    color: orange;
}
.works h1{
    text-align: center;
    border: 2px solid black;
    color: chocolate;
}
.works h2{
    padding-left: 50px;
    margin-top: 20px;
    color: rgb(174, 99, 99);
    text-decoration: underline 2px solid rgb(174, 206, 193);
    cursor: pointer;

}
.works p{
    text-align: center;
    color: whitesmoke;
    margin-top: 40px;
    margin-bottom: 15px;
}
.works ul {
    padding-left: 100px;
    line-height: 40px;
    font-size: 18px;
    list-style:decimal-leading-zero;
    
    
}
.works span{
    color: red;
}
.works ul li{
    color: greenyellow;
    cursor: pointer;
}